

nav li{
    display:flex;
    flex-direction: column;
    padding: 20px;
    font-size: 30px;
    background: #f0e0c240;
}

@media screen and (min-width: 500px){


body{
    background-color: #dfd0b3;
}

nav{
    background-color: #d9b876;
    padding:20px;
}


nav li{
    display:inline-block;
    padding: 20px;
    font-size: 30px;
    background: #f0e0c240;
}


nav li a{
    text-align: center;
    text-decoration: none;
    color: #4d3626;
}

nav li.active{
    background:#543c13;
}

nav li a.active{
    color: whitesmoke;
}

div{
    display: block;

}

main{
    margin: 10px 40px;
}

#main_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:10%;
    width:80%;    
}

img:not(#main_img){
    display: block;
    padding:5px;
    border-style:solid;
    border-color: #8a6144;
    border-width: 5px;

}

img:not(#main_img):hover{
    background: brown;
}

img:not(#main_img):nth-of-type(even){
    border-style: dashed;
    border-color: black;
}

h1{
    font-size: 40px;
    margin-left: 40px;
    margin-top: 10px;
}

h2{
    font-size: 30px;
}
.skip{
    position: absolute;
    left: -1000px;
}
}



    
